@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --green: #019b41;
    --black: #130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid  rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}
.navbar{
background-color: #a0cfb46b;
box-shadow: var(--box-shadow);
}

.nav{
    padding-left: 10px;
    padding-right: 5px;
}

.btn-car{
    background: var(--black);
    color: #ffffff;
}

.btn:hover{
    background: #019b41;
    color: #ffffff;
}


.logo{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}
.logo i{
    color: var(--green);
}


nav li a{
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: var(--black);
    
}

nav ul li a span:hover{
    color: var(--green);
}

.boton-tarjeta {
    position: unset ;
    width: 50%;
    background: linear-gradient(0deg, rgba(36, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);
    border: 0px;
}

.boton-tarjeta:hover {
    box-shadow: 0 4px 16px rgb(172, 49, 49);
    transition: all 0.2s ease;
}
.inp {
    width: 40px;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
}
.img{
    object-fit: cover;
    
}

/* carrusel*/
div .imgs {
    height: 75vh;
    width: 50vh;
    padding: 50px;
    ;
    background-color: #eee;
}
.carousel-caption {
    position: absolute;
    right: 50%;
    top: 20rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.carousel-caption-2 {
    position: absolute;
    right: 15%;
    top: 5rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--black);
    text-align: center;
}
.carousel-caption-3 {
    position: absolute;
    right: 15%;
    top: 15rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--black);
    text-align: center;
}
#carrusel-email{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 8px;
    font-size: 16px;
margin-bottom: 16px;
}

#carrusel-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color:var(--black);
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
}
#carrusel-tienda-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color:var(--black);
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
}
#carrusel-contacto-btn{
    width: 150x;
    height: 40px;
    border-radius: 4px;
    background-color:var(--black);
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
}

#carrusel-email-btn:hover{
        color: white;
        background-color: var(--green);

}
#carrusel-tienda-btn:hover{
        color: white;
        background-color: var(--green);

}
#carrusel-contacto-btn:hover{
        color: white;
        background-color: var(--green);

}
/* main */
.display-6{
    background: var(--green);
    color: white;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%, 0% 100%, 7% 50%, 0% 0%);

}

/*slider clientes*/
.clientes {
    padding: 1rem;
    
}

.clientes .card{
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.clientes .card:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;

}
.clientes .card img{
    margin-left: 30%;
    margin-top: 2%;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    ;
}

.cliente .card p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.clientes .clientes-slider .box h3{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}
.clientes .card .estrellas{
    color: var(--green);
    font-size: 1.7rem ; 

}


form .links{
display: flex;
justify-content: space-between;

}
.modal-header .modal-title{
    color: var(--black);
}

div label{
    color: var(--black);
}
form  div p a{
    text-decoration: none;
    color: var(--green);
}
form  div p a:hover{
    color: blue;
}

.modal{
    background:#a0cfb46b;
}




/* footer*/

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


.footer{
    background-color: #a0cfb46b;
    padding: 70px 0;
    box-shadow: var(--box-shadow);
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--green);
    height: 2px;
    box-sizing: border-box ;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;   
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    color: var(--light-color);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: var(--green);
    padding: 8pX;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--black);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: white;
    background-color: var(--green);
}


#footer-email{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 8px;
    font-size: 16px;
margin-bottom: 16px;
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color:var(--black);
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
}

#footer-email-btn:hover{
        color: white;
        background-color: var(--green);

}

@media(max-width: 767px){
.footer-col{
    width: 50%;
    margin-bottom: 30px;
}

}

/*REGISTRO*/

.form-registro{
    width: 400px;
    background-color:#a0cfb46b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    color:var(--black) ;
    box-shadow:  3px 13px 37px #000 ;
}

.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #130f40;
    font-size: 18px;
}
.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    
    
}
.form-registro a{
    color: #019b41;
    text-decoration: none;
}
.form-registro a:hover{
    color: #019b41;
    text-decoration: underline;
}
div .check{
    margin-top: 8px;
    width: 15px;
    height: 15px;
}
div .btn-car{
    margin-top: 10px;
    margin-bottom:10px ;
}
.term{
    display: flex;
}
.carrito{
    min-height: 70vh;
    max-width: 1000px;
    margin: auto;
    width: 100%;
}
.table-producto{
    display: flex;
}
.table-producto img{
    width: 5rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}
.table-cantidad input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
}
/*seguimiento */
.table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.text-center {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.table tbody tr:hover {
    background-color: #e2e3e5;
}
.progress-bar {
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.progress-bar {
    animation: progress-bar 2s ease-in-out forwards;
}

@keyframes progress-bar {
    0% {
    width: 0;
    }
    100% {
    width: 100%;
    }
}
